<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Basic front service page for the site" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/login/favicon.png">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>Smart Car Pool</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="stylesheets/services/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="stylesheets/services/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="stylesheets/services/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body >

<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Smart Car Pool</a>
        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-center">
                <li><a href="#">Logged in
                        <% if(user) { %>  as <%=user.email%>  <% } %>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/services">HOME</a></li>
                <li><a href="/searchTrips">FIND TRIPS</a></li>
                <li><a href="#">CONTACT US</a></li>
                <li><a href="/logout">LOGOUT</a></li>

            </ul>
        </div>

    </div>
</div>
<!--/.NAVBAR END-->

<section id="home" class="head-main-img">

    <div class="container">
        <div class="row text-center pad-row" >
            <div class="col-md-12">
                <h1>  CREATE TRIP </h1>
            </div>
        </div>
    </div>

</section>
<!--/.HEADING END-->

<section >
    <div class="container">

        <!-- content to show process update -->
        <% if(user!=undefined && status!=undefined && status.value!=undefined) { %>
        <div class="row">
            <div class="col-lg-5 col-md-push-1">
                <div class="col-md-12">

                    <% if(status.value =="success") { %>
                    <div class="alert alert-success">
                        <strong><i class="glyphicon glyphicon-ok"></i> Success! Your details have been updated.</strong>
                    </div>
                    <%}%>

                    <% if(status.value =="failure") { %>
                    <div class="alert alert-danger">
                        <i class="glyphicon glyphicon-remove"></i><strong> Error! Sorry couldn't complete the request.</strong>
                    </div>
                    <%}%>
                </div>
            </div>
            <% }%>
            <!-- content to show process update emds -->

        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" action="/createTrip" method="post">
                    <fieldset>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-map-marker bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="startLocation" name="startLocation" type="text" placeholder="Start Location in format City,Country"  class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-map-marker bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="startLocationPlace" name="startLocationPlace" type="text" placeholder="Start Location Locality"  class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-clock-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="startLocationDate" name="startLocationDate" type="date" placeholder="Start Location Date YYYY-MM-DD" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-clock-o bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="startLocationTime" name="startLocationTime" type="time" placeholder="Start Location Time HH:MM 24 Hrs format" class="form-control">
                        </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-map-marker bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="endLocation" name="endLocation" type="text" placeholder="End Location in format City,Country" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-map-marker bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="endLocationPlace" name="endLocationPlace" type="text" placeholder="End Location Locality"  class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-clock-o bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="endLocationDate" name="endLocationDate" type="date" placeholder="End Location Date YYYY-MM-DD" class="form-control">
                                </div>
                        </div>

                        <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-clock-o bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="endLocationTime" name="endLocationTime" type="time" placeholder="End Location Time HH:MM 24 Hrs format" class="form-control">
                                </div>
                        </div>

                        <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-car bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="vechileRegisterationNumber" name="vechileRegisterationNumber" type="text" placeholder="Vechile Registeration Number" class="form-control">
                                    </div>
                        </div>

                        <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-car bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="vechileType" name="vechileType" type="text" placeholder="Vechile Type" class="form-control">
                                    </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-circle bigicon"></i></span>
                            <div class="col-md-8">
                                Open Seats:
                                <select name ="open_seats" id="open_seats">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-circle bigicon"></i></span>
                            <div class="col-md-8">
                                Circles(Groups):
                                <select name ="circle_options" id="circle_options">
                                    <option value="0">Open to all</option>
                                    <% if(status!=undefined && status.obj!=undefined)
                                    {

                                        var response = status.obj;
                                        console.log("response is"+response);
                                    for(var i =0;i<response.length;i++){
                                        var attributes = response[i].attributes;
                                    if(attributes!=undefined) {
                                    %>
                                    <option value="<%=attributes.trustId%>"><%=attributes.circle_name%></option>
                                    <%
                                    }
                                    }
                                    }
                                    %>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit Details</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    </div>

</section>
<section  class="note-sec" >

    <div class="container">
        <div class="row text-center pad-row" >
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 ">
                <i class="fa fa-quote-left fa-3x"></i>
                <p>
                    The goal as a company is to have customer service that is not just the best but legendary
                </p>
            </div>
        </div>
    </div>

</section>
<!--/.NOTE END-->
<section id="clients"  >


    <div class="container">
        <div class="row text-center pad-bottom" >
            <div class="col-md-12">
                <h4> <strong>See what our cusotmer's say about us :</strong> </h4>
                <blockquote>
                    <p>Works like a charm never had a problem.I would recommend this to every one</p>
                    <small>Frodo<cite title="Source Title">Baggins</cite></small>
                </blockquote>

                <blockquote class="pull-right">
                    <p>Thumps for the site ,works smoothly.Good job guys</p>
                    <small>Andrea<cite title="Source Title"> Millkoff</cite></small>
                </blockquote>
            </div>

        </div>
    </div>
</section>
<!--/.CLIENTS END-->
<section id="footer-sec" >

    <div class="container">
        <div class="row  pad-bottom" >
            <div class="col-md-4">
                <h4> <strong>ABOUT US</strong> </h4>
                <p>
                    We are committed to provide services which can translate our world into
                    an smarter world.
                </p>
                <a href="#" >read more</a>
            </div>
            <div class="col-md-4">
                <h4> <strong>SOCIAL LINKS</strong> </h4>
                <p>
                    <a href="#"><i class="fa fa-facebook-square fa-3x"  ></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x"  ></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-3x"  ></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-3x"  ></i></a>
                </p>
            </div>
            <div class="col-md-4">
                <h4> <strong>OUR LOCATION</strong> </h4>
                <p>
                    Divyasree NSL Tech Park, <br />
                    Hitech City <br />
                    Hyderabad,India
                </p>
                <a href="#" class="btn btn-primary" >SEND QUERY</a>
            </div>
        </div>
    </div>
</section>
<!--/.FOOTER END-->
<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="/javascripts/services/plugins/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="/javascripts/services/plugins/bootstrap.js"></script>
<!-- CUSTOM SCRIPTS  -->
<script src="/javascripts/services/custom.js"></script>
</body>
</html>
